body {
    background-color: #0f0f2f; /* Cor de fundo mais escura, como o espaço */
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/espaco-fundo.jpg'); /* Caminho da imagem de fundo */
    background-size: cover;
    background-position: center;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none; /* Todos os passos são ocultados inicialmente */
}

.passo.ativo {
    display: block; /* Apenas o passo ativo é exibido */
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
